body {
    background-image: url('https://cdn.discordapp.com/attachments/948596391855394826/1108360422790271006/login_page_bg.jpg');
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;

}

.login_form {
    height: 90vh;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 23%, rgba(247, 255, 238, 1) 81%, rgba(242, 255, 225, 1) 100%);
    border-radius: 0 0 50px 0;
    padding: 60px 50px;
    box-shadow: 5px 5px 10px #4d4d4d30, -5px -5px 10px #45454530;
}

.login_form h5 {
    text-align: center;
    /* background: url('https://img.freepik.com/free-photo/selective-focus-soft-foliage-with-summer-light-background_640221-128.jpg?w=900&t=st=1684250234~exp=1684250834~hmac=f00a33283ed462a20880d76aed1c9e87619c78e6e5a3e17ab410e62b096981f5');
    background-size: 300%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: #00885a;
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.login_form .form-control {
    background-color: rgba(255, 255, 255, 0) !important;
    border: 0.5px solid #00885b6e;
    /* border-radius: 0 0 12px 0;
    border-top: none;
    border-right: none;
    border-left: none; */
    border-radius: 18px;
}
.forget_password{
    color: #00885a;
    font-size: 14px;
}
.forget_password a{
    text-decoration: none;
    color: #00885a;
}
.forget_password span{
    float: right;
}
.login_email_input label,
.login_password_input label {
    color: #00885a;
    font-weight: 600;
}

.login_email_input,
.login_password_input {
    margin-bottom: 12px;
}

.login_button {
    width: 100%;
    text-align: center;
    margin-top: 16px;
}

.login_button .login_button {
    width: 100%;
    border-radius: 26px;
    font-size: 18px;
    padding: 6px 26px;
    background-color: #00885a;
    color: #ffffff;
}
.login_button .login_button:hover {
    background-color: #026141;
    color: #ffffff;
}

.user_buttons{
    margin-bottom: 40px !important;
    /* border-bottom: 1px solid #c9ff7c; */
}
.user_buttons div .user_button{
    padding: 0 auto;
    background-color: #ffffff;
    color: #00885a;
    
}
.user_login, .admin_login{
    display: none;
}
.active{
    display: block !important;
}
.active_button{
    border-bottom: 1px solid #00885b8f !important;
    /* border-radius: 0 !important; */
}
.title{
    text-align: right;
    padding-top: 30px;
    padding-right: 40px;
}
.title h4{
    font-size:60px;
    opacity: 0.6;
    color: #ffffff;
}
.title h5{
    font-size:20px;
    opacity: 0.8;
    color: #ffffff;
}